.page-layout > .header {
    padding: 20px 10px;
    background-color: #2F353F;
}

.page-layout .logo img {
    cursor: pointer;
    height: 40px;
}

.page-layout .navs button,
.page-layout .navs .btn-group {
    cursor: pointer;
    margin: 0 5px;
}

.page-layout .navs .dropdown-menu {
    margin-top: -1px;
    display: initial;
    left: initial;    
    right: 5px;
}

.page-layout .navs .dropdown-menu a {
    text-decoration: none;
}

.page-layout > .content {
    padding: 20px 0;
}

@media only screen and (max-width: 768px) {
    .page-layout .logo {
        margin-bottom: 20px; 
    }
}